
.jumbotron {
  border-radius: 10px;
  border: 1px solid #FFC0CB;
  background-color: #FFC0CB;
}

.nameEntered {
  text-align: center;
}

.title {
  text-align: center;
}

label {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.list-group-item {
  background-color: rgb(186, 186, 193) !important;
  margin: 2px;
  text-align: left;
  margin-left: 30px;
}

.text {
  text-align: center;
}

.text-area {
  width: 30% !important;
  height: 50px;
  border-radius: 10px;
}

#nameDiv {
  padding-top: 20px;
}

.h3-heading {
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  display: inline-block;
  margin-left: 70px;
}

.audio {
  margin-left: 70px;
}

#synthesizeButton {
border: #FFC0CB;
background-color: #FFC0CB;
border-radius: 20%;

}
#synthesizeButton:hover {
background-color: #78ceeb;
color: white; 
}

h3 {
text-align: center;
}
